.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  background-color: var(--color-base-20);
  transition: background-color var(--ease);

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-base-30);
      .button {
        opacity: 1;
      }
    }
  }
}

.button {
  transition: opacity var(--ease);
  opacity: 0;
}
