.header {
  display: flex;
  justify-content: space-between;
  gap: var(--space-l);
  align-items: flex-end;
  border-block-end: 1px solid var(--color-base-40);
  padding-block-end: var(--space-s);
}
