.message {
  margin: var(--space-xxxs) 0 0;
  font-size: var(--f-size-s);
  padding-inline: var(--space-xs);
  text-align: center;
}

.error {
  color: var(--color-primary);
}

.note {
  color: var(--color-secondary);
}
