.message {
  margin: 0;
  font-size: var(--f-size-s);
  padding-inline: var(--space-xs);
  text-align: center;
}

.error {
  color: var(--color-primary);
}

.warning {
  color: var(--color-warning);
}
